@import "breakpoints";

html {
  background-color: var(--dark);
  width: 100vw;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    height: 100vh;
  }

  @include lg {
    height: 100vh;
  }
}

.container {
  margin: rem(80) rem(20);
  display: flex;
  flex-direction: column;

  @include lg {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: rem(20);
    height: 100%;
  }

  &__header {
    height: rem(210);
    background-color: var(--dark-blue);
    border-radius: rem(20);

    @include lg {
      width: rem(250);
      height: rem(435)
    }

    &__top {
      display: flex;
      background-color: var(--bright-blue);
      border-radius: rem(20);
      padding: rem(30);
      font-weight: 300;
      align-items: center;
      gap: rem(20);

      @include lg {
        flex-direction: column;
        align-items: flex-start;
        height: rem(350);
      }
    }

    &__image {
      width: rem(80);
      border: 3px solid white;
      border-radius: 50%;
    }

    &__info {
      span {
        color: var(--pale-blue);
        font-size: 0.8rem;
      }

      p {
        color: white;
        font-size: 1.3rem;

        @include lg {
          font-size: 2rem;
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: rem(63);

      @include lg {
        background-color: var(--dark-blue);
        width: 250px;
        height: 7rem;
        border-radius: rem(20);
        flex-direction: column;
        justify-content: flex-start;
        gap: rem(10);
        padding-top: 1rem;
      }

      button {
        width: 100%;
        background-color: transparent;
        border: none;
        font-family: "Rubik", sans-serif;
        color: var(--desaturated-blue);
        font-size: 0.9rem;
        cursor: pointer;
        z-index: 0;

        @include lg {
          text-align: left;
          padding-left: rem(20);
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  &__data {
    color: white;
    margin-top: rem(20);
    display: flex;
    flex-direction: column;

    &__map {
      @include md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: rem(20);
      }

      @include lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: rem(20);
      }
    }

    &__background {
      width: 100%;
      border-radius: rem(20);
      display: flex;
      justify-content: right;
      padding-right: rem(20);
      overflow: hidden;
      height: rem(80);
      margin-top: rem(20);

      img {
        margin-top: rem(-12);
        width: rem(80);
        height: auto;
      }
    }

    &__block {
      background-color: var(--dark-blue);
      margin-top: rem(-40);
      border-radius: rem(10);
      display: flex;
      padding: rem(30);
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      
      &:hover {
        background-color: hsl(236, 46%, 31%);
      }


      @include lg {
        width: rem(250);
        display: block;
        position: relative;
      }

      &__left {
        &__hours {
          font-size: 1.6rem;
          font-weight: 300;
          margin-top: rem(10);

          @include lg {
            font-size: 2.5rem;
          }
        }
      }

      &__right {
        text-align: right;

        img {
          margin-bottom: rem(20);
          cursor: pointer;

          &:hover {
            filter: brightness(200%);
          }

          @include lg {
            position: absolute;
            top: rem(40);
            right: rem(20);
          }
        }

        p {
          font-weight: 300;
          color: var(--pale-blue);
          font-size: 0.9rem;

          @include lg {
            text-align: left;
            margin-top: rem(10);
          }
        }
      }
    }
  }
}

.active {
  color: white !important;
}